/*Текстовые цвета*/
$color-main : #a61281;
$color-submain : #363939;
$color-text : #2f2f2f;
$color-white : #fff;
$color-black: #000;
$color-gray : #808082;
$color-gray-l : #bbbec4;
$color-yellow : #ffba00;
$color-blue : #1fa7f3;



